content {
    margin: 20px 0 20px 5%;
    padding: 20px 30px;
    width: 60%;
    height: auto;
    background: #B4C5E4;
    align-content: center;
    font-family: 'Arial';
}

content img {
    display: block;
    margin: 30px auto;
}

content h1 {
    text-align:center;
}

content b {
    margin: 0;
    margin-top: 20px;
    font-size:20px;
}

content p {
    margin: 5px 0 20px 15px;
}

content ol p {
    margin: 0 0 5px 0;
}

content ol li {
    margin-bottom: 3px;
}

content .perspective p {
    margin-bottom: 5px;
}

content .privilege p {
    margin-bottom: 5px;
}

content .difficult p {
    margin-bottom: 5px;
}

content ul {
    margin: 0 0 20px 0;
}