<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>template</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
    <header>
        <p class="logo">C++ Prog</p>
    </header>

    <main>
        <side>
            <nav>
                <ul>
                    <li><a href="{% url 'main' %}">Главная  страница</a></li>
                    <li><a href="{% url 'statistics' %}">Общая статистика</a></li>
                    <li><a href="{% url 'relevance' %}">Востребованность</a></li>
                    <li><a href="{% url 'geography' %}">География</a></li>
                    <li><a href="{% url 'skills' %}">Навыки</a></li>
                    <li><a href="{% url 'last_vacs' %}">Последние вакансии</a></li>
                </ul>
            </nav>
        </side>

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Жилин Артём Григорьевич РИ-230912</p>
    </footer>
</body>

</html>