{% extends 'cppprog/template.html' %}
{% block title %}<title>C++ Prog: Востребованность</title>{% endblock %}
{% load static %}

{% block links %}
<link type="text/css" rel="stylesheet" href="{% static 'cppprog/css/statistics.css' %}">
{% endblock %}

{% block content %}
<content>
    <h1>Востребованность</h1>
    <div class="statystics">
        <h2 class="title">Динамика уровня зарплат по годам для профессии C++ программист</h2>
        <div class="data">
            <table class="table">
            <caption class="caption">Динамика уровня зарплат по годам для профессии C++ программист</caption>
            <thead>
                <tr>
                    <th scope="col">Год</th>
                    <th scope="col">Зарплата в рублях</th>
                </tr>
            </thead>
            <tbody>
            {% for instance in salary_dynamics_of_years %}
                <tr>
                    <td>
                        {{ instance.fields.year }}
                    </td>
                    <td>
                        {{ instance.fields.salary }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <img class="plot" src="/media/VacancySalaryDynamicsOfYears.png"/>
        </div>
    </div>
    <div class="statystics">
        <h2 class="title">Динамика количества вакансий по годам для профессии C++ программист</h2>
        <div class="data">
            <table class="table">
            <caption class="caption">Динамика количества вакансий по годам для профессии C++ программист</caption>
            <thead>
                <tr>
                    <th scope="col">Год</th>
                    <th scope="col">Вакансий</th>
                </tr>
            </thead>
            <tbody>
            {% for instance in count_dynamics_of_years %}
                <tr>
                    <td>
                        {{ instance.fields.year }}
                    </td>
                    <td>
                        {{ instance.fields.vacancies_number }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <img class="plot" src="/media/VacancyCountDynamicsOfYears.png"/>
        </div>
    </div>
</content>
{% endblock %}