content {
    margin: 20px 0 20px 5%;
    padding: 20px 30px;
    width: 60%;
    height: auto;
    background: #B4C5E4;
    font-family: 'Arial';
}

h1 {
    margin: 0;
    text-align: center;
}

h2.title {
    text-align: center;
    margin: 0;
}

.statystics {
    margin-top: 40px;
    padding: 20px;
    background: white;
}

.data {
    display:flex;
    margin: 20px auto 0 auto;
    justify-content: center;
}

.plot {
    border: 1px solid black;
    margin-left: 60px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 5px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 2px 5px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}