body {
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

header {
    background: #FFD65A;
    width: auto;
    height: 100px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.login {
    position: absolute;
    right: 60px;
    top: 35px;

    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    color: white;
}

.login:hover {
    color: #fff1b8;
}

.logo {
    margin: auto;
    padding: 0;
    padding-top: 10px;
    font-family: cursive;
    font-size: 48px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

main {
    display:flex;
    height: auto;
    width: 100%;
}

main side {

}

nav {
    width: 266px;
}

nav ul {
    margin: 20px;
    margin-right:0;
    width: 230px;
    background: #16C47F;
    padding: 20px 8px;

    font-size: 20px;
    text-align: center;
    align-content: space-between;

    list-style-type: none;
}

nav li {
    margin: 0;
    padding: 10px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

nav li a:hover {
    color: #C0EBA6;
}

footer {
    background: #3C3744;
    width: 100%;
    height: 100px;
}

.sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

footer p {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    color:white;
    font-size: 48px;
    font-family: sans-serif;
    text-align: center;
}